
.metadata/.plugins/org.eclipse.core.resources/.history/fa/80ed69c1c0b4001f196a9060497d514e
/.metadata
/.metadata
*.class
*.class
.metadata/.plugins/org.eclipse.core.resources/.projects/JDBC/.indexes/e4/81/ca/fb/history.index
/.metadata
.metadata/.log
